* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
input,
textarea,
select {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}
